{% extends 'base.html.twig' %}


{% block body %}
    <h3>Szukaj</h3>

    <form method="get">
        <div class="">
            <input name="query" type="search" value="{{ app.request.query.get('query') }}" class="form-control" />
            <input type="submit" value="Szukaj" class="btn btn-primary" />
        </div>
    </form>

    <hr>

    <h4>Użytkownicy</h4>
    {% if users is defined and users is not empty %}
        <ul>
            {% for user in users %}
                <li><a href="{{ path('user_show', {userId: user.id}) }}">{{ user.username }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak wyników</p>
    {% endif %}

    <h4>Faktury</h4>
    {% if invoices is defined and invoices is not empty %}
        <ul>
            {% for invoice in invoices %}
                <li><a href="{{ path('invoice_show', {invoiceId: invoice.id}) }}">{{ invoice.invoiceNumber }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak wyników</p>
    {% endif %}

    <h4>Sprzęt</h4>
    {% if devices is defined and devices is not empty %}
        <ul>
            {% for device in devices %}
                <li><a href="{{ path('device_show', {deviceId: device.id}) }}">{{ device.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak wyników</p>
    {% endif %}

    <h4>Licencje</h4>
    {% if licenses is defined and licenses is not empty %}
        <ul>
            {% for license in licenses %}
                <li><a href="{{ path('license_show', {licenseId: license.id}) }}">{{ license.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak wyników</p>
    {% endif %}
{% endblock %}