{% extends 'base.html.twig' %}


{% block body %}
<h3>Faktura {{ invoice.invoiceNumber }}</h3>

<dl>
    <dt>Nazwa kontrahenta</dt>
    <dd>{{ invoice.contractorName }}</dd>

    <dt>VATID kontrahenta</dt>
    <dd>{{ invoice.contractorVatid }}</dd>

    <dt>Kwota netto</dt>
    <dd>{{ invoice.netValue }}</dd>

    <dt>Kwota brutto</dt>
    <dd>{{ invoice.grossValue }}</dd>

    <dt>Kwota podatku VAT</dt>
    <dd>{{ invoice.taxValue }}</dd>

    <dt>Data wystawienia</dt>
    <dd>{{ invoice.date | date('d-m-Y') }}</dd>

    {% if invoice.scan %}
        <dt>Skan</dt>
        <dd><a href="{{ asset('uploads/invoice_scans/' ~ invoice.scan) }}" target="_blank">Zobacz</a></dd>
    {% endif %}
</dl>

{% if is_granted('ROLE_USER') %}
    <h4>Akcje</h4>
    <form action="{{ path('invoice_edit', {'invoiceId': invoice.id}) }}" method="GET">
        <input class="btn btn-primary" type="submit" value="Edycja" />
    </form>

    <form action="{{ path('invoice_delete', {'invoiceId': invoice.id}) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Usuń" />
    </form>
{% endif %}

{% endblock %}